In [2]:
import pandas as pd

In [1]:
from konlpy.tag import Okt
from konlpy.tag import Komoran
from collections import Counter

okt = Okt()
komoran = Komoran()

In [46]:
no = [1, 2, 3, 4, 5]
title = ["프롭테크 카카오 T 앱, 유럽 진출한다...9월부터 독일서 로밍 서비스 시작", "아틀라스랩스 AI 음성인식, 실제 상담원처럼 대화 내용 분석까지 해야", "네이버, 노코드 AI로 '모두와 함께하는 초거대 AI' 생태계 실현", "카카오가 만든 초거대 AI, 삼성 갤럭시 북에 들어간다", "네이버, 인천재능대와 협력해 초대규모 AI 인재 양성"]

In [101]:
df = pd.DataFrame(list(zip(no, title)), columns=['no','title'])
df.head()

   no                                       title
0   1  프롭테크 카카오 T 앱, 유럽 진출한다...9월부터 독일서 로밍 서비스 시작
1   2      아틀라스랩스 AI 음성인식, 실제 상담원처럼 대화 내용 분석까지 해야
2   3       네이버, 노코드 AI로 '모두와 함께하는 초거대 AI' 생태계 실현
3   4              카카오가 만든 초거대 AI, 삼성 갤럭시 북에 들어간다
4   5               네이버, 인천재능대와 협력해 초대규모 AI 인재 양성

In [102]:
df['pos'] = df['title'].apply(lambda x: komoran.pos(x))
df['pos2'] = df['title'].apply(lambda x: komoran.pos(x, join=True))
df['noun'] = df['title'].apply(lambda x: komoran.nouns(x))
df.head()

,no,title,pos,pos2,noun
0,1,"프롭테크 카카오 T 앱, 유럽 진출한다...9월부터 독일서 로밍 서비스 시작","[(프롭테크, NA), (카카오, NNP), (T, SL), (앱,, NA), (유...","[프롭테크/NA, 카카오/NNP, T/SL, 앱,/NA, 유럽/NNP, 진출/NNG...","[카카오, 유럽, 진출, 9월, 독일, 로밍, 서비스, 시작]"
1,2,"아틀라스랩스 AI 음성인식, 실제 상담원처럼 대화 내용 분석까지 해야","[(아틀라스랩스, NA), (AI, SL), (음성, NNP), (인식, NNP),...","[아틀라스랩스/NA, AI/SL, 음성/NNP, 인식/NNP, ,/SP, 실제/NN...","[음성, 인식, 실제, 상담원, 대화, 내용, 분석]"
2,3,"네이버, 노코드 AI로 '모두와 함께하는 초거대 AI' 생태계 실현","[(네이버, NNP), (,, SP), (노, NNP), (코드, NNP), (AI...","[네이버/NNP, ,/SP, 노/NNP, 코드/NNP, AI/SL, 로/JKB, '...","[네이버, 노, 코드, 모두, 생태계, 실현]"
3,4,"카카오가 만든 초거대 AI, 삼성 갤럭시 북에 들어간다","[(카카오, NNP), (가, JKS), (만들, VV), (ㄴ, ETM), (초,...","[카카오/NNP, 가/JKS, 만들/VV, ㄴ/ETM, 초/XPN, 거대/XR, A...","[카카오, 삼성 갤럭시, 북]"
4,5,"네이버, 인천재능대와 협력해 초대규모 AI 인재 양성","[(네이버, NNP), (,, SP), (인천, NNP), (재능, NNG), (대...","[네이버/NNP, ,/SP, 인천/NNP, 재능/NNG, 대/XSN, 와/JC, 협...","[네이버, 인천, 재능, 협력, 초대, 규모, 인재, 양성]"

In [103]:
nouns = []
df['noun'].apply(lambda x: nouns.append(x))

pos = []
df['pos'].apply(lambda x: pos.append(x))

pos2 = []
df['pos2'].apply(lambda x: pos2.append(x))

0    None
1    None
2    None
3    None
4    None
Name: pos2, dtype: object

In [92]:
nouns

[['카카오', '유럽', '진출', '9월', '독일', '로밍', '서비스', '시작'],
 ['음성', '인식', '실제', '상담원', '대화', '내용', '분석'],
 ['네이버', '노', '코드', '모두', '생태계', '실현'],
 ['카카오', '삼성 갤럭시', '북'],
 ['네이버', '인천', '재능', '협력', '초대', '규모', '인재', '양성']]

In [18]:
# 중첩리스트를 flatten하기
# 참고 : https://blog.winterjung.dev/2017/04/21/list-of-lists-to-flatten
nouns = sum(nouns, [])
nouns

['카카오',
 '유럽',
 '진출',
 '9월',
 '독일',
 '로밍',
 '서비스',
 '시작',
 '음성',
 '인식',
 '실제',
 '상담원',
 '대화',
 '내용',
 '분석',
 '네이버',
 '노',
 '코드',
 '모두',
 '생태계',
 '실현']

In [105]:
nouns = [y for x in nouns for y in x]
pos = [y for x in pos for y in x]
pos2 = [y for x in pos2 for y in x]
print(pos2)

['프롭테크/NA', '카카오/NNP', 'T/SL', '앱,/NA', '유럽/NNP', '진출/NNG', '하/XSV', 'ㄴ다/EC', '.../SE', '9월/NNP', '부터/JX', '독일/NNP', '서/JKB', '로밍/NNP', '서비스/NNG', '시작/NNG', '아틀라스랩스/NA', 'AI/SL', '음성/NNP', '인식/NNP', ',/SP', '실제/NNG', '상담원/NNG', '처럼/JKB', '대화/NNG', '내용/NNG', '분석/NNG', '까지/JX', '하/VV', '아야/EC', '네이버/NNP', ',/SP', '노/NNP', '코드/NNP', 'AI/SL', '로/JKB', "'/SS", '모두/NNG', '와/JC', '함께/MAG', '하/XSV', '는/ETM', '초/XPN', '거대/XR', 'AI/SL', "'/SS", '생태계/NNP', '실현/NNG', '카카오/NNP', '가/JKS', '만들/VV', 'ㄴ/ETM', '초/XPN', '거대/XR', 'AI/SL', ',/SP', '삼성 갤럭시/NNP', '북/NNP', '에/JKB', '들어가/VV', 'ㄴ다/EC', '네이버/NNP', ',/SP', '인천/NNP', '재능/NNG', '대/XSN', '와/JC', '협력/NNG', '하/XSV', '아/EC', '초대/NNG', '규모/NNG', 'AI/SL', '인재/NNG', '양성/NNP']

In [106]:
count = Counter(nouns)

top_nouns = count.most_common(10)

for n in top_nouns:
    print(n)

('카카오', 2)
('네이버', 2)
('유럽', 1)
('진출', 1)
('9월', 1)
('독일', 1)
('로밍', 1)
('서비스', 1)
('시작', 1)
('음성', 1)

In [107]:
print(pos2)

['프롭테크/NA', '카카오/NNP', 'T/SL', '앱,/NA', '유럽/NNP', '진출/NNG', '하/XSV', 'ㄴ다/EC', '.../SE', '9월/NNP', '부터/JX', '독일/NNP', '서/JKB', '로밍/NNP', '서비스/NNG', '시작/NNG', '아틀라스랩스/NA', 'AI/SL', '음성/NNP', '인식/NNP', ',/SP', '실제/NNG', '상담원/NNG', '처럼/JKB', '대화/NNG', '내용/NNG', '분석/NNG', '까지/JX', '하/VV', '아야/EC', '네이버/NNP', ',/SP', '노/NNP', '코드/NNP', 'AI/SL', '로/JKB', "'/SS", '모두/NNG', '와/JC', '함께/MAG', '하/XSV', '는/ETM', '초/XPN', '거대/XR', 'AI/SL', "'/SS", '생태계/NNP', '실현/NNG', '카카오/NNP', '가/JKS', '만들/VV', 'ㄴ/ETM', '초/XPN', '거대/XR', 'AI/SL', ',/SP', '삼성 갤럭시/NNP', '북/NNP', '에/JKB', '들어가/VV', 'ㄴ다/EC', '네이버/NNP', ',/SP', '인천/NNP', '재능/NNG', '대/XSN', '와/JC', '협력/NNG', '하/XSV', '아/EC', '초대/NNG', '규모/NNG', 'AI/SL', '인재/NNG', '양성/NNP']

In [110]:
word = []
for i in pos2:
    if "/N" in i:
        word.append(i)
 
print(word)

['프롭테크/NA', '카카오/NNP', '앱,/NA', '유럽/NNP', '진출/NNG', '9월/NNP', '독일/NNP', '로밍/NNP', '서비스/NNG', '시작/NNG', '아틀라스랩스/NA', '음성/NNP', '인식/NNP', '실제/NNG', '상담원/NNG', '대화/NNG', '내용/NNG', '분석/NNG', '네이버/NNP', '노/NNP', '코드/NNP', '모두/NNG', '생태계/NNP', '실현/NNG', '카카오/NNP', '삼성 갤럭시/NNP', '북/NNP', '네이버/NNP', '인천/NNP', '재능/NNG', '협력/NNG', '초대/NNG', '규모/NNG', '인재/NNG', '양성/NNP']

In [111]:
count = Counter(word)

top_word = count.most_common(100)

for n in top_word:
    print(n)

('카카오/NNP', 2)
('네이버/NNP', 2)
('프롭테크/NA', 1)
('앱,/NA', 1)
('유럽/NNP', 1)
('진출/NNG', 1)
('9월/NNP', 1)
('독일/NNP', 1)
('로밍/NNP', 1)
('서비스/NNG', 1)
('시작/NNG', 1)
('아틀라스랩스/NA', 1)
('음성/NNP', 1)
('인식/NNP', 1)
('실제/NNG', 1)
('상담원/NNG', 1)
('대화/NNG', 1)
('내용/NNG', 1)
('분석/NNG', 1)
('노/NNP', 1)
('코드/NNP', 1)
('모두/NNG', 1)
('생태계/NNP', 1)
('실현/NNG', 1)
('삼성 갤럭시/NNP', 1)
('북/NNP', 1)
('인천/NNP', 1)
('재능/NNG', 1)
('협력/NNG', 1)
('초대/NNG', 1)
('규모/NNG', 1)
('인재/NNG', 1)
('양성/NNP', 1)

In [113]:
count = Counter(word)

top_word = count.most_common(100)

keyword = []
keyword_pos = []
count = []

for n in top_word:
    keyword.append(n[0])
    count.append(n[1])

df = pd.DataFrame(list(zip(keyword, count)), columns=['keyword','count'])
df.head(20)

      keyword  count
0     카카오/NNP      2
1     네이버/NNP      2
2     프롭테크/NA      1
3       앱,/NA      1
4      유럽/NNP      1
5      진출/NNG      1
6      9월/NNP      1
7      독일/NNP      1
8      로밍/NNP      1
9     서비스/NNG      1
10     시작/NNG      1
11  아틀라스랩스/NA      1
12     음성/NNP      1
13     인식/NNP      1
14     실제/NNG      1
15    상담원/NNG      1
16     대화/NNG      1
17     내용/NNG      1
18     분석/NNG      1
19      노/NNP      1