In [243]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd

## 크롤링하기

In [245]:
# 크롬 브라우저를 열기
DRIVER_DIR = 'driver/chromedriver'

driver= webdriver.Chrome(DRIVER_DIR)

In [201]:
# 목표 페이지 불러오기
url = "https://www.youtube.com/user/ElectoTube/videos"

driver.get(url)

In [190]:
# 제목 크롤링 

title = []

titles = chrome.find_elements_by_id('video-title')

for i in titles:
    title.append(i.text)
    
print(title)
len(title)

['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'LG DIOS 광파오븐 사용 방법(32L)', 'LG DIOS 광파오븐 사용 방법(39L)', 'LG DIOS 광파오븐 관리 방법', 'LG DIOS 광파오븐 LG ThinQ 사용 방법']

52

In [192]:
# 데이터프레임으로 저장하기
zippedList = list(zip(title))
df= pd.DataFrame(zippedList, columns = ['title'])

df.head(50)

                      title
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48  LG DIOS 광파오븐 사용 방법(32L)
49  LG DIOS 광파오븐 사용 방법(39L)

In [189]:
df=df.iloc[39:]
df.shape

(13, 1)

In [193]:
df=df.iloc[48:]
df.shape

(4, 1)

In [141]:
n=df.shape[0]
n

62

In [154]:
df.iloc[0:3,]
df.iloc[-2:,]

                           title
99       LG DIOS 음식이 어는 경우 해결 방법
100  LG DIOS 도어 높낮이가 다른 경우 해결 방법

In [194]:
df.head()

                          title
48      LG DIOS 광파오븐 사용 방법(32L)
49      LG DIOS 광파오븐 사용 방법(39L)
50           LG DIOS 광파오븐 관리 방법
51  LG DIOS 광파오븐 LG ThinQ 사용 방법

In [182]:
df.tail()

                                         title
45       LG DIOS 전기레인지 - 인덕션 동작음/Fan 동작음 확인 방법
46    LG DIOS 인덕션 전기레인지 - 전기레인지 사용법(화력 편/ 51초)
47    LG DIOS 인덕션 전기레인지 - 전기레인지 사용법(화력 편/ 43초)
48  LG DIOS 인덕션 전기레인지 – 전기레인지 사용법(전기요금 편/ 48초)
49  LG DIOS 인덕션 전기레인지 - 전기레인지 사용법(안전 편/ 1분14초)

In [195]:
df.to_csv("lwo.csv", index=False, header=False)

### 데이터프레임에 계속 추가하기

In [297]:
# 재생목록 ULR 리스트 작성 (일반세탁기, 드럼세탁기)
url_list = [
    "https://www.youtube.com/playlist?list=PLb6cAxxTlz5KQ4uMxDpd5ep7HhVLA_NPu", 
    "https://www.youtube.com/playlist?list=PLb6cAxxTlz5Ibgq4pfjH3nohBdWiJfe2F",
    
]

### 전체 긁어와서 영상 단위로 데이터프레임에 넣는 방법

In [300]:
#빈 리스트를 만들기
youtube = []

In [301]:
# 크롬 브라우저를 열기
driver= webdriver.Chrome(DRIVER_DIR)


# 재생목록 페이지 차례로 들어가서 제목 크롤링하기
for u in url_list:
    # 목표 페이지 불러오기
    url = u
    driver.get(url)

    #제품 카테고리를 긁어오기
    path='//*[@id="title"]/yt-formatted-string/a'
    category_name = driver.find_element_by_xpath(path).text
    print(category_name)

    #해당 URL의 영상 제목을 긁어오기
    titles = driver.find_elements_by_id('video-title')

    #리스트에 제품 카테고리와 제목을 넣기
    for t in titles:
        try:
            category = category_name
            title = t.text 
            #title = div.find('span', {'class':'style-scope ytd-playlist-video-renderer'}).get_text()  
            #favorite = div.find('div', {'class':'CountTag__Container-sc-1bme586-0 zOfjb'}).get_text()        
            #price = div.find('strong', {'class':'SellingPrice-sc-18g5z9b-0 gvjAfk'}).get_text()

            youtube.append((category, title))
        except Exception:
            continue

일반 세탁기
드럼 세탁기

In [303]:
# 데이터프레임으로 한꺼번에 변환하기
df = pd.DataFrame(youtube)
df.columns = ('category','title')

df.shape

(72, 2)

In [304]:
df.head()

  category                               title
0   일반 세탁기  LG 세탁기 IE에러 발생 급수가 약하거나 안돼요(드럼,일반)
1   일반 세탁기            LG 통돌이 세탁기 – 통돌이 세탁기 사용법
2   일반 세탁기                  탈수 후 물기 남아있을 때 해결법
3   일반 세탁기           LG전자 일반세탁기 바닥으로 누수가 발생합니다
4   일반 세탁기        LG전자 세탁기 보푸라기가 발생해요(오토크린시스템)

In [305]:
df['category'].value_counts()

드럼 세탁기    43
일반 세탁기    29
Name: category, dtype: int64

In [ ]:
# 드라이버 종료
driver.quit()

## 재생목록 이름과 링크 리스트 만들기

In [309]:
#재생목록 리스트 화면 열기
url = "https://www.youtube.com/user/ElectoTube/playlists"
    
# 크롬 브라우저를 열기
driver= webdriver.Chrome(DRIVER_DIR)
driver.get(url)

In [310]:
# 전체 소스 가져오기
html = driver.page_source

In [313]:
title = html.find('id', 'video-title').get_text()

TypeError: slice indices must be integers or None or have an __index__ method

In [312]:
# 개별 재생목록만 추출하기
bsObject = BeautifulSoup(html, 'lxml')
div_movies = bsObject.find_all('div', {'id':'items'})

print(len(div_movies))

18

In [ ]:
link_list = []

for div in div_classes:
    try:
        header = div.find('div', {'class':'kPPRIZ'}).get_text()
        title = div.find('div', {'class':'sc-fzoJMP hPTfNI'}).get_text()  
        favorite = div.find('div', {'class':'CountTag__Container-sc-1bme586-0 zOfjb'}).get_text()        
        price = div.find('strong', {'class':'SellingPrice-sc-18g5z9b-0 gvjAfk'}).get_text()
        
        class101.append((header, title, favorite, price))
    except Exception:
        continue